<!DOCTYPE html>
<html lang="en">
    <!-- {% load  static %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sublimemain</title>
    <link rel="stylesheet" type="text/css" href="{% static '/practice.css' %}">
    <link rel="stylesheet" type="text/css" href="../static/sublimemain.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
</head>
<body>
    <div class="iconav">
      <nav>
        <ul>
          <li><h1 >S<span>H</span><span>I</span><span>V.</span></h1></li>
          <li><lord-icon src="https://cdn.lordicon.com/osuxyevn.json" trigger="hover" colors="
            primary:#121331" scale="65"style="width:20px;height:20px"></lord-icon><a href="#" >Home</a></li>
          <li><lord-icon src="https://cdn.lordicon.com/ogkplaef.json" trigger="hover" style="width:20px;height:20px"></lord-icon><a href="\">About-US</a></li>
          <li><lord-icon src="https://cdn.lordicon.com/iiixgoqp.json" trigger="hover"style="width:22px;height:22px;padding-top:3px;"></lord-icon><a href="/">Resume</a></li>
          
          <li><lord-icon src="https://cdn.lordicon.com/ssvybplt.json" trigger="hover" style="width:25px;height:25px;padding-top: 5px;"></lord-icon><a href="\">Contact-US</a></li>            
        </ul>
      </nav>
    </div>
    <div class="headmain">
        <div class="mainpagephotowithtext"></div>
        <h2>S<span>hivkant Pandey</span></h2>
        <!-- <hr> -->
        <p>Hi I'am <span>Full Stack Developer.</span></p>
        <div class="icons">
            <i class="fa fa-twitter fa-3x" ></i>
            <i class="fa fa-instagram fa-3x"></i>
            <i class="fa fa-whatsapp fa-3x" ></i>
            <i class="fa fa-github fa-3x" ></i>
        </div>
    </div>
    <div class="section">
      <div>
        <section>
          <h3><span>A</span>bout Me</h3>
          <p>Hello! I'am Shivkant Pandey.
          Iam a Full Stack Developer,I love making websites or interacting with an live websites and i also like to host a Website.Check out my featured websites,designs and highlights.
          </p>
        </section>
        <br>
        <br>
        <header class="headerabout">
          <ul>
            <li><p>AGE:... 21</p></li>
            <li><span>RESIDENCE:... INDIA</p></li>
          </ul>
          <ul>
            <li>FREELANCE: Available </li>
            <li>ADDRESS: New Delhi, INDIA</li>
          </ul>
          <p><span>S</span>ervices</p>
          <hr>
          <ul class="services">
            <li><img src="file:///C:/Users/Pooja/Downloads/ui-design.png"><br>front-end Developer<br>I created front end design where user can interact<br>with websites and having a smooth interaction <br>with websites.</li>
            <li><img src="file:///C:/Users/Pooja/Downloads/backend.png" class="img"><br>Back-end Developer<br>I created Back end modules that helps user for<br> easily get in touch with data without having any <br>coding skills.</li>
          </ul>
          <hr>
        </header>
      </div>
    </div>
    <div class="section">
          <div>
            <section>
              <h3><span>R</span>esume</h3>
            </section>
          </div>
          <img src="file:///C:/Users/Pooja/Downloads/education.png" >
          <p>Education</p>
          <ul>
            <li><span>2019-2022</span><p>Guru Gobind Singh Indraprastha University<br>New Delhi<br>Bachelor's Degree in Computer Application Comm-it career Academy, New Delhi.</p></li>
          </ul>
    </div>

           
</body>
</html>